<div class="content grid grid-cols-4 gap-4">
  <% if @products.empty? %>
    <p>Please add products to the database!</p>
  <% else %>
    <% @products.each do |product| %>
      <%# This is where the card partial would go %>
      <div class="border rounded p-5 flex flex-col gap-5 shadow-lg">
        <div class="uppercase tracking-widest text-center"><%= product.title %></div>
        <div class="top-box flex justify-center h-[200px] w-auto border-b pb-5">
          <% if product.image_url %>
            <%= image_tag product.image_url, class: "rounded-lg" %>
          <% else %>
            <p> No image to display. </p>
          <% end %>
        </div>
        <div class="flex flex-col grow justify-between">
          <div class="mb-5 font-light text-sm"><%= product.description %></div>
          <div class="flex justify-center items-center gap-5 mb-5">
            <div>
              <span class=<%= product.amount ? "text-green-600" : "text-red-600" %>><%= product.amount ? "#{product.amount}" : "OUT OF STOCK" %></span>
              <%= product.amount && " in stock" %>
            </div>
            <div class="text-lg font-bold">$<%= number_with_precision product.price, precision: 2 %></div>
          </div>
          <div data-controller="quantity" data-quantity-max-value=<%= product.amount || 0 %> class="flex gap-5 justify-center mb-5 items-center">
            <% if product.amount %>
              <input data-quantity-target="input" data-action="input->quantity#update change->quantity#update" value=0 type="number" size="2" min="0" max=<% product.amount %> />
            <% else %>
              <div data-quantity-target="input"></div> <%# To prevent an error in stimulus %>
            <% end %>
            <button data-quantity-target="add" class="bg-yellow-300 transition duration-300 enabled:hover:-translate-y-1 enabled:hover:scale-110 enabled:hover:cursor-pointer hover:bg-yellow-200 px-3 py-1 disabled:opacity-50 disabled:cursor-not-allowed" disabled>
              Add to cart
            </button>
            <button data-quantity-target="buy" class="bg-yellow-300 transition duration-300 enabled:hover:-translate-y-1 enabled:hover:scale-110 enabled:hover:cursor-pointer hover:bg-yellow-200 px-3 py-1 disabled:opacity-50 disabled:cursor-not-allowed" disabled>
              Buy now
            </button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
